// Site custom styles and colours. This file loads last.

:root {
  // Site colours.
  --color-sap-red:                #ed1b34;
  --color-sap-red-mid:            #ad143d;
  --color-sap-red-dark:           #660027;
  --color-sap-yellow:             #ffc166;
  --color-sap-green:              #009352;

  // Brand colours.
  --color-brand:                  var(--color-sap-red);
  --color-brand-alt:              var(--color-sap-red-mid);
  --color-brand-light:            var(--color-sap-green);
  --color-brand-dark:             var(--color-sap-red-dark);

  --color-link:                   var(--color-brand-alt);
  --color-link-visited:           var(--color-brand-alt);
  --color-link-hover:             var(--color-brand);
  --color-link-active:            var(--color-brand);

  --color-header-bg:              var(--color-brand);
  --color-footer-bg:              var(--color-brand);
}

.page {
  @media (min-width: 777px) {
    box-shadow: 2px 0 10px #aaa, -2px 0 10px #aaa;
  }
}

.front-bg-box {
  margin-block-start: var(--gutters);
  background-color: var(--color-body-bg);

  h2 {
    font-size: var(--fs-xxl);
    margin: 0;
  }

  p {
    font-family: var(--ff-headings);
    font-weight: var(--fw-headings);
    line-height: var(--heading-line-height);
    margin: 0;
  }

  @media (min-width: 666px) {
    --color-overlay: var(--color-black-40);
    --color-overlay2: var(--color-black-10);
    --background-image-front-height: 600px;

    display: grid;
    align-content: center;
    margin-block-start: 0;
    color: var(--color-text-bg);
    border-image: linear-gradient(var(--color-overlay), var(--color-overlay2)) fill 1;
    background-image: var(--background-image-front-url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: var(--background-image-front-height);

    h2 {
      color: var(--color-text-bg);
    }

    p {
    }
  }
}

.header {
  @media (max-width: 666px) {
    --header-gap: var(--spacing-xs);
  }

  &__site-name {
    font-size: var(--fs-l);

    @media (min-width: 666px) {
      font-size: var(--fs-xl);
    }
  }

  &__site-link {
    &:link,
    &:visited {
      color: var(--color-text-bg);
    }
  }

  &__logo-image {
    @media (max-width: 666px) {
      width: 75px;
    }
  }
}

.main-menu {
  a {
    font-weight: var(--fw-medium);
    outline: 2px solid var(--color-brand-alt);
    box-shadow: 0px 4px 10px var(--color-black-20);
  }
}

.title {
  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.big {
  font-size: var(--fs-l);
  font-weight: var(--fw-medium);
}

.wrap-any {
  overflow-wrap: anywhere;
}

.box {
  box-shadow: 0px 4px 10px var(--color-black-20);
  border-width: 2px;
  border-color: var(--color-brand-alt);
}

.footer {
  color: var(--color-text-bg);
  font-weight: var(--fw-medium);

  a {
    color: var(--color-text-bg);
  }
}

div:has(> iframe) {
  margin-block-end: 2rem;
}

/* Slides section */

.section-page--slides {
  .main-menu {
    display: none;
  }

  .layout {
    &__page {
      max-width: none;
      background-color: var(--color-border);
    }
  }
}

.single-view--slides {
  h1 {
    font-size: var(--fs-xxxxl);
    color: var(--color-text-bg);
  }

  p {
    font-size: var(--fs-l);
    font-weight: var(--fw-medium);
    color: var(--color-text-bg);
  }

  a {
    text-decoration: none;
  }
}
