// Site custom styles and colours. This file loads last.

:root {
  // Site colours.
  --color-sap-red:                #ed1b34;
  --color-sap-red-mid:            #ad143d;
  --color-sap-red-dark:           #660027;
  --color-sap-yellow:             #ffc166;
  --color-sap-green:              #009352;

  // Brand colours.
  --color-brand:                  var(--color-sap-red);
  --color-brand-alt:              var(--color-sap-red-mid);
  --color-brand-light:            var(--color-sap-green);
  --color-brand-dark:             var(--color-sap-red-dark);

  --color-link:                   var(--color-brand-alt);
  --color-link-visited:           var(--color-brand-alt);
  --color-link-hover:             var(--color-brand);
  --color-link-active:            var(--color-brand);

  --color-header-bg:              var(--color-brand);
  --color-footer-bg:              var(--color-brand);
}

.header {
  flex-flow: wrap;
  &__site-name {
    font-size: var(--fs-xl);
    order: 1;
    flex-basis: 100%;
  }

  &__site-link {
    &:link,
    &:visited {
      color: var(--color-text-bg);
    }
  }

  &__region {
  }
}


.main-menu {
  a {
    background-color: var(--color-brand);
    color: var(--color-text-bg);
    font-weight: var(--fw-medium);
    outline: 2px solid var(--color-brand-alt);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 10px;

    &:hover,
    &:focus {
      background-color: var(--color-brand-alt);
    }

    &:active,
    &[aria-current] {
      background-color: var(--color-brand-alt);
    }
  }
}

.big {
  font-size: var(--fs-l);
  font-weight: var(--fw-medium);
}

.box {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 10px;
  border-width: 2px;
  border-color: var(--color-brand-alt);
}

.footer {
  color: var(--color-text-bg);
  font-weight: var(--fw-medium);

  a {
    color: var(--color-text-bg);
  }
}

div:has(> iframe) {
  margin-block-end: 2rem;
}
